Source: e-cho
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: efl
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: e-cho
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, e19
Description: Game based on Simon Says
 Enlightenment game based on Simon Says
