Source: etrophy
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: efl
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: etrophy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, e19
Description: Library that manages scores, trophies and unlockables
 Etrophy is a library that manages scores, trophies and unlockables
