Source: eruler
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: efl
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: eruler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, e19
Description: On-Screen Ruler and Measurement Tools
 Tools providing ruler and measurements on-screen
