Source: efbb
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: efl
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: efbb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, e19
Description: Escape from Booty Bay game
 Escape from Booty Bay is a physics game that explore EPhysics amazing features.
