Source: rage
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: efl
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: rage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, e19
Description: Enlightenment Video Player
 Video Player for the Enlightenment desktop
